a{text-decoration: none;}

a:hover{background-color: crimson;
color:white;}

body{
    background-color: antiquewhite;
 text-align: center;
}

h1{color:blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
  background-color: teal;
  }

  @media (max-width: 768px) {
    body {
        background-color: aqua;
    }

}